
html{
    height: 600px;
    
}
body{
    height: 600px;

}

#test0{
    background-color: rgb(0, 132, 255);
    position: relative;
    left: 0px;
    bottom: 30px;
    width: 1800px;
    height: 750px;
    display: block;
}

.txt0{
    color: black;
    position: relative;
    font-size: 74px;
    left: 600px;
    top: 250px;
    display: inline-block;
}
.txt0-1{
    color: black;
    position: relative;
    font-size: 22px;
    left: 670px;
    top: 150px;
}



#test1{
    background-color: black;
    position: relative;
    left: 1800px;
    bottom: 790px;
    width: 1800px;
    height: 730px;
    margin: 0%;
    display: block;
}
.test1-2{
    background-color: red;
    position: relative;
    left: 300px;
    top: 200px;
    width: 300px;
    height: 300px;
}
.txt1{
    color: white;
    position: relative;
    font-size: 30px;
    left: 400px;
    top: 200px;
}

.Head1{
    color: white;
    position: relative;
    font-size: 22px;
    left: 650px;
    top: -100px;
}
.texx{
    color: white;
    position: relative;
    font-size: 22px;
    left: 650px;
    top: -80px;
}




#test2{
    background-color: rgb(49, 49, 49);
    position: relative;
    left: 3600px;
    bottom: 1550px;
    width: 1800px;
    height: 710px;
    margin: 0%;
    display: block;
}
.test2-2{
    background-color: red;
    position: relative;
    left: 300px;
    top: 200px;
    width: 300px;
    height: 300px;
}
.txt2{
    color: white;
    position: relative;
    font-size: 30px;
    left: 400px;
    top: 200px;
}

.Head2{
    color: white;
    position: relative;
    font-size: 22px;
    left: 650px;
    top: -100px;
}
.texx2{
    color: white;
    position: relative;
    font-size: 22px;
    left: 650px;
    top: -80px;
}






#test3{
    background-color: rgb(104, 103, 103);
    position: relative;
    left: 5400px;
    bottom: 2290px;
    width: 1800px;
    height: 710px;
    margin: 0%;
    display: block;
}
.test3-2{
    background-color: red;
    position: relative;
    left: 300px;
    top: 200px;
    width: 300px;
    height: 300px;
}
.txt3{
    color: white;
    position: relative;
    font-size: 30px;
    left: 400px;
    top: 200px;
}

.Head3{
    color: white;
    position: relative;
    font-size: 22px;
    left: 650px;
    top: -100px;
}
.texx3{
    color: white;
    position: relative;
    font-size: 22px;
    left: 650px;
    top: -80px;
}



#test4{
    background-color: rgb(165, 163, 163);
    position: relative;
    left: 7200px;
    bottom: 3030px;
    width: 1800px;
    height: 710px;
    margin: 0%;
    display: block;
}
.test4-2{
    background-color: red;
    position: relative;
    left: 300px;
    top: 200px;
    width: 300px;
    height: 300px;
}
.txt4{
    color: white;
    position: relative;
    font-size: 30px;
    left: 400px;
    top: 200px;
}

.Head4{
    color: white;
    position: relative;
    font-size: 22px;
    left: 650px;
    top: -100px;
}
.texx4{
    color: white;
    position: relative;
    font-size: 22px;
    left: 650px;
    top: -80px;
}


#test5{
    background-color: rgb(189, 143, 143);
    position: relative;
    left: 9000px;
    bottom: 3770px;
    width: 1800px;
    height: 740px;
    overflow-x: hidden;
    display: block;
}
.test5-2{
    background-color: red;
    position: relative;
    left: 300px;
    top: 200px;
    width: 300px;
    height: 300px;
    margin: 0%;
}
.txt5{
    color: white;
    position: relative;
    font-size: 30px;
    left: 400px;
    top: 200px;
}

.Head5{
    color: white;
    position: relative;
    font-size: 22px;
    left: 650px;
    top: -100px;
}
.texx5{
    color: white;
    position: relative;
    font-size: 22px;
    left: 650px;
    top: -80px;
}
.img{
    position: relative;
    left: 250px;
    top: 200px;
    width: 300px;
    height: 300px;
}

#test6{
    background-color: rgb(189, 143, 143);
    position: relative;
    left: 10800px;
    bottom: 4510px;
    width: 1800px;
    height: 740px;
    overflow-x: hidden;
    display: block;
}
.test6-2{
    background-color: red;
    position: relative;
    left: 300px;
    top: 200px;
    width: 300px;
    height: 300px;
    margin: 0%;
}
.txt6{
    color: white;
    position: relative;
    font-size: 30px;
    left: 400px;
    top: 200px;
}

.Head6{
    color: white;
    position: relative;
    font-size: 22px;
    left: 650px;
    top: -100px;
}
.texx6{
    color: white;
    position: relative;
    font-size: 22px;
    left: 650px;
    top: -80px;
}


#test7{
    background-color: rgb(189, 143, 143);
    position: relative;
    left: 12600px;
    bottom: 5250px;
    width: 1800px;
    height: 740px;
    overflow-x: hidden;
    display: block;
}
.test7-2{
    background-color: red;
    position: relative;
    left: 300px;
    top: 200px;
    width: 300px;
    height: 300px;
    margin: 0%;
}
.txt7{
    color: white;
    position: relative;
    font-size: 30px;
    left: 400px;
    top: 200px;
}

.Head7{
    color: white;
    position: relative;
    font-size: 22px;
    left: 650px;
    top: -100px;
}
.texx7{
    color: white;
    position: relative;
    font-size: 22px;
    left: 650px;
    top: -80px;
}


#test8{
    background-color: rgb(189, 143, 143);
    position: relative;
    left: 14400px;
    bottom: 5990px;
    width: 1800px;
    height: 740px;
    overflow-x: hidden;
    display: block;
}
.test8-2{
    background-color: red;
    position: relative;
    left: 300px;
    top: 200px;
    width: 300px;
    height: 300px;
    margin: 0%;
}
.txt8{
    color: white;
    position: relative;
    font-size: 30px;
    left: 400px;
    top: 200px;
}

.Head8{
    color: white;
    position: relative;
    font-size: 22px;
    left: 650px;
    top: -100px;
}
.texx8{
    color: white;
    position: relative;
    font-size: 22px;
    left: 650px;
    top: -80px;
}

#test9{
    background-color: rgb(189, 143, 143);
    position: relative;
    left: 16200px;
    bottom: 6730px;
    width: 1800px;
    height: 740px;
    overflow-x: hidden;
    display: block;
}
.test9-2{
    background-color: red;
    position: relative;
    left: 300px;
    top: 200px;
    width: 300px;
    height: 300px;
    margin: 0%;
}
.txt9{
    color: white;
    position: relative;
    font-size: 30px;
    left: 400px;
    top: 200px;
}

.Head9{
    color: white;
    position: relative;
    font-size: 22px;
    left: 650px;
    top: -100px;
}
.texx9{
    color: white;
    position: relative;
    font-size: 22px;
    left: 650px;
    top: -80px;
}

#test10{
    background-color: rgb(189, 143, 143);
    position: relative;
    left: 18000px;
    bottom: 7470px;
    width: 1800px;
    height: 740px;
    overflow-x: hidden;
    display: block;
}
.test10-2{
    background-color: red;
    position: relative;
    left: 300px;
    top: 200px;
    width: 300px;
    height: 300px;
    margin: 0%;
}
.txt10{
    color: white;
    position: relative;
    font-size: 30px;
    left: 400px;
    top: 200px;
}

.Head10{
    color: white;
    position: relative;
    font-size: 22px;
    left: 650px;
    top: -100px;
}
.texx10{
    color: white;
    position: relative;
    font-size: 22px;
    left: 650px;
    top: -80px;
}

#test11{
    background-color: rgb(189, 143, 143);
    position: relative;
    left: 19800px;
    bottom: 8210px;
    width: 1800px;
    height: 740px;
    overflow-x: hidden;
    display: block;
}
.test11-2{
    background-color: red;
    position: relative;
    left: 300px;
    top: 200px;
    width: 300px;
    height: 300px;
    margin: 0%;
}
.txt11{
    color: white;
    position: relative;
    font-size: 30px;
    left: 400px;
    top: 200px;
}

.Head11{
    color: white;
    position: relative;
    font-size: 22px;
    left: 650px;
    top: -100px;
}
.texx11{
    color: white;
    position: relative;
    font-size: 22px;
    left: 650px;
    top: -80px;
}

#test12{
    background-color: rgb(189, 143, 143);
    position: relative;
    left: 21600px;
    bottom: 8950px;
    width: 1800px;
    height: 740px;
    overflow-x: hidden;
    display: block;
}
.test12-2{
    background-color: red;
    position: relative;
    left: 300px;
    top: 200px;
    width: 300px;
    height: 300px;
    margin: 0%;
}
.txt12{
    color: white;
    position: relative;
    font-size: 30px;
    left: 400px;
    top: 200px;
}

.Head12{
    color: white;
    position: relative;
    font-size: 22px;
    left: 650px;
    top: -100px;
}
.texx12{
    color: white;
    position: relative;
    font-size: 22px;
    left: 650px;
    top: -80px;
}

#test13{
    background-color: rgb(189, 143, 143);
    position: relative;
    left: 23400px;
    bottom: 9690px;
    width: 1800px;
    height: 740px;
    overflow-x: hidden;
    display: block;
}
.test13-2{
    background-color: red;
    position: relative;
    left: 300px;
    top: 200px;
    width: 300px;
    height: 300px;
    margin: 0%;
}
.txt13{
    color: white;
    position: relative;
    font-size: 30px;
    left: 400px;
    top: 200px;
}

.Head13{
    color: white;
    position: relative;
    font-size: 22px;
    left: 650px;
    top: -100px;
}
.texx13{
    color: white;
    position: relative;
    font-size: 22px;
    left: 650px;
    top: -80px;
}

#test14{
    background-color: rgb(189, 143, 143);
    position: relative;
    left: 25200px;
    bottom: 10430px;
    width: 1800px;
    height: 740px;
    overflow-x: hidden;
    display: block;
}
.test14-2{
    background-color: red;
    position: relative;
    left: 300px;
    top: 200px;
    width: 300px;
    height: 300px;
    margin: 0%;
}
.txt14{
    color: white;
    position: relative;
    font-size: 30px;
    left: 400px;
    top: 200px;
}

.Head14{
    color: white;
    position: relative;
    font-size: 22px;
    left: 650px;
    top: -100px;
}
.texx14{
    color: white;
    position: relative;
    font-size: 22px;
    left: 650px;
    top: -80px;
}

#test15{
    background-color: rgb(189, 143, 143);
    position: relative;
    left: 27000px;
    bottom: 11170px;
    width: 1800px;
    height: 740px;
    overflow-x: hidden;
    display: block;
}
.test15-2{
    background-color: red;
    position: relative;
    left: 300px;
    top: 200px;
    width: 300px;
    height: 300px;
    margin: 0%;
}
.txt15{
    color: white;
    position: relative;
    font-size: 30px;
    left: 400px;
    top: 200px;
}

.Head15{
    color: white;
    position: relative;
    font-size: 22px;
    left: 650px;
    top: -100px;
}
.texx15{
    color: white;
    position: relative;
    font-size: 22px;
    left: 650px;
    top: -80px;
}

#test16{
    background-color: rgb(189, 143, 143);
    position: relative;
    left: 28800px;
    bottom: 11910px;
    width: 1800px;
    height: 740px;
    overflow-x: hidden;
    display: block;
}
.test16-2{
    background-color: red;
    position: relative;
    left: 300px;
    top: 200px;
    width: 300px;
    height: 300px;
    margin: 0%;
}
.txt16{
    color: white;
    position: relative;
    font-size: 30px;
    left: 400px;
    top: 200px;
}

.Head16{
    color: white;
    position: relative;
    font-size: 22px;
    left: 650px;
    top: -100px;
}
.texx16{
    color: white;
    position: relative;
    font-size: 22px;
    left: 650px;
    top: -80px;
}

#test17{
    background-color: rgb(189, 143, 143);
    position: relative;
    left: 30600px;
    bottom: 12650px;
    width: 1800px;
    height: 740px;
    overflow-x: hidden;
    display: block;
}
.test17-2{
    background-color: red;
    position: relative;
    left: 300px;
    top: 200px;
    width: 300px;
    height: 300px;
    margin: 0%;
}
.txt17{
    color: white;
    position: relative;
    font-size: 30px;
    left: 400px;
    top: 200px;
}

.Head17{
    color: white;
    position: relative;
    font-size: 22px;
    left: 650px;
    top: -100px;
}
.texx17{
    color: white;
    position: relative;
    font-size: 22px;
    left: 650px;
    top: -80px;
}

#test18{
    background-color: rgb(189, 143, 143);
    position: relative;
    left: 32400px;
    bottom: 13390px;
    width: 1800px;
    height: 740px;
    overflow-x: hidden;
    display: block;
}
.test18-2{
    background-color: red;
    position: relative;
    left: 300px;
    top: 200px;
    width: 300px;
    height: 300px;
    margin: 0%;
}
.txt18{
    color: white;
    position: relative;
    font-size: 30px;
    left: 400px;
    top: 200px;
}

.Head18{
    color: white;
    position: relative;
    font-size: 22px;
    left: 650px;
    top: -100px;
}
.texx18{
    color: white;
    position: relative;
    font-size: 22px;
    left: 650px;
    top: -80px;
}

#test19{
    background-color: rgb(189, 143, 143);
    position: relative;
    left: 34200px;
    bottom: 14130px;
    width: 1800px;
    height: 740px;
    overflow-x: hidden;
    display: block;
}
.test19-2{
    background-color: red;
    position: relative;
    left: 300px;
    top: 200px;
    width: 300px;
    height: 300px;
    margin: 0%;
}
.txt19{
    color: white;
    position: relative;
    font-size: 30px;
    left: 400px;
    top: 200px;
}

.Head19{
    color: white;
    position: relative;
    font-size: 22px;
    left: 650px;
    top: -100px;
}
.texx19{
    color: white;
    position: relative;
    font-size: 22px;
    left: 650px;
    top: -80px;
}

#test20{
    background-color: rgb(189, 143, 143);
    position: relative;
    left: 36000px;
    bottom: 14870px;
    width: 1800px;
    height: 740px;
    overflow-x: hidden;
    display: block;
}
.test20-2{
    background-color: red;
    position: relative;
    left: 300px;
    top: 200px;
    width: 300px;
    height: 300px;
    margin: 0%;
}
.txt20{
    color: white;
    position: relative;
    font-size: 30px;
    left: 400px;
    top: 200px;
}

.Head20{
    color: white;
    position: relative;
    font-size: 22px;
    left: 650px;
    top: -100px;
}
.texx20{
    color: white;
    position: relative;
    font-size: 22px;
    left: 650px;
    top: -80px;
}