
html{
    height: 600px;
    
}
body{
    height: 600px;

}

#test0{
    background-color: rgb(0, 132, 255);
    position: relative;
    left: 0px;
    bottom: 30px;
    width: 1800px;
    height: 750px;
    display: block;
}

.txt0{
    color: black;
    position: relative;
    font-size: 74px;
    left: 600px;
    top: 250px;
    display: inline-block;
}
.txt0-1{
    color: black;
    position: relative;
    font-size: 22px;
    left: 670px;
    top: 150px;
}



#test1{
    background-color: black;
    position: relative;
    left: 1800px;
    bottom: 770px;
    width: 1800px;
    height: 710px;
    margin: 0%;
    display: block;
}
.test1-2{
    background-color: red;
    position: relative;
    left: 300px;
    top: 200px;
    width: 300px;
    height: 300px;
}
.txt1{
    color: white;
    position: relative;
    font-size: 30px;
    left: 400px;
    top: 200px;
}

.Head1{
    color: white;
    position: relative;
    font-size: 22px;
    left: 650px;
    top: -100px;
}
.texx{
    color: white;
    position: relative;
    font-size: 22px;
    left: 650px;
    top: -80px;
}




#test2{
    background-color: rgb(49, 49, 49);
    position: relative;
    left: 3600px;
    bottom: 1510px;
    width: 1800px;
    height: 710px;
    margin: 0%;
    display: block;
}
.test2-2{
    background-color: red;
    position: relative;
    left: 300px;
    top: 200px;
    width: 300px;
    height: 300px;
}
.txt2{
    color: white;
    position: relative;
    font-size: 30px;
    left: 400px;
    top: 200px;
}

.Head2{
    color: white;
    position: relative;
    font-size: 22px;
    left: 650px;
    top: -100px;
}
.texx2{
    color: white;
    position: relative;
    font-size: 22px;
    left: 650px;
    top: -80px;
}






#test3{
    background-color: rgb(104, 103, 103);
    position: relative;
    left: 5400px;
    bottom: 2250px;
    width: 1800px;
    height: 710px;
    margin: 0%;
    display: block;
}
.test3-2{
    background-color: red;
    position: relative;
    left: 300px;
    top: 200px;
    width: 300px;
    height: 300px;
}
.txt3{
    color: white;
    position: relative;
    font-size: 30px;
    left: 400px;
    top: 200px;
}

.Head3{
    color: white;
    position: relative;
    font-size: 22px;
    left: 650px;
    top: -100px;
}
.texx3{
    color: white;
    position: relative;
    font-size: 22px;
    left: 650px;
    top: -80px;
}



#test4{
    background-color: rgb(165, 163, 163);
    position: relative;
    left: 7200px;
    bottom: 2990px;
    width: 1800px;
    height: 710px;
    margin: 0%;
    display: block;
}
.test4-2{
    background-color: red;
    position: relative;
    left: 300px;
    top: 200px;
    width: 300px;
    height: 300px;
}
.txt4{
    color: white;
    position: relative;
    font-size: 30px;
    left: 400px;
    top: 200px;
}

.Head4{
    color: white;
    position: relative;
    font-size: 22px;
    left: 650px;
    top: -100px;
}
.texx4{
    color: white;
    position: relative;
    font-size: 22px;
    left: 650px;
    top: -80px;
}


#test5{
    background-color: rgb(189, 143, 143);
    position: relative;
    left: 9000px;
    bottom: 3730px;
    width: 1800px;
    height: 740px;
    overflow-x: hidden;
    display: block;
}
.test5-2{
    background-color: red;
    position: relative;
    left: 300px;
    top: 200px;
    width: 300px;
    height: 300px;
    margin: 0%;
}
.txt5{
    color: white;
    position: relative;
    font-size: 30px;
    left: 400px;
    top: 200px;
}

.Head5{
    color: white;
    position: relative;
    font-size: 22px;
    left: 650px;
    top: -100px;
}
.texx5{
    color: white;
    position: relative;
    font-size: 22px;
    left: 650px;
    top: -80px;
}
.img{
    position: relative;
    left: 250px;
    top: 200px;
    width: 300px;
    height: 300px;