* {
    padding: 0;
    margin: 0;
    border: 0;
}

.fillParent {
    width: 100%;
    height: 100%
}

/* Футер */

a {
    color: #dc2222;
}

@font-face {
    font-family: 'rd_chulajaruekregular';
    src: url('rd_chulajaruek-webfont.woff2') format('woff2'), url('rd_chulajaruek-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'mitrregular';
    src: url('mitr-regular-webfont.woff2') format('woff2'), url('mitr-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

#footer {
    position: fixed;
    z-index: 2;
    width: 100%;
    height: 77px;
    text-align: center;
    font-size: 10px;
    /* Хак */
    text-align: right;
    bottom: -15px;
    color: gray;
    right: 0px;
    padding-right: 60px;
    box-sizing: border-box;
}

/* */

#layouts .portrait.story {
    width: 300px;
}

#layouts .portrait .padded {
    padding: 200px 30px;
}

#layouts .portrait .landscapeOnly {
    display: none;
}

#layouts .portraitOnly, #layouts .landscapeOnly {
    margin-top: 20px;
}

#layouts .landscape .portraitOnly {
    display: none;
}

/* */

body {
    font-family: Helvetica, sans-serif;
    background: black;
}

.histoty {
    position: absolute;
    width: 30%;
    margin-left: -33%;
    margin-top: 15%;
    background: green;
    animation: ex;
    animation-duration: 2s;
}
@keyframes ex{
    from{
        margin-left: -70%;
    }
    to{
        margin-left: -33%;
    }
}

.histoty1 {
    position: absolute;
    background: red;
    width: 50%;
    right: 25%;
    top: 55%;
}

.popularResolution {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: auto;
    transform: translate(-50%, -50%);
}

#footer {
    font-size: 20px;
}

.story {
    text-align: center;
    width: 600px;
    background: rgba(238, 234, 234, 0.88);
    font-size: 20px;
    position: relative;
}

.story>.padded {
    padding: 30px;
}

.story p+p {
    margin-top: 10px;
}

.fastLayer {
    position: absolute;
}

.fastLayer>* {
    position: absolute;
    left: 0px;
    top: 0px;
}

#scaling .padded {
    padding: 40% 20%;
}

.story .hint {
    display: block;
    color: gray;
    font-style: italic;
    font-size: 70%;
}

.head {
    font-size: 32px;
    text-align: center;
    color: white;
}

#text999 {
    margin-top: -30%;
}

#text888 {
    margin-top: 3%;
}

#HeadBook {
    font-size: 82px;
}

h1 {
    text-align: center;
    margin: 5%;
    color: whitesmoke;
    font-weight: bold;
    font-size: 24px;
}

h2 {
    text-align: center;
    font-size: 35px;
    font-family: 'mitrregular';
}

h3 {
    text-align: center;
    font-size: 32px;
    font-family: 'mitrregular';
}

.imgage3bg h1 {
    font-weight: lighter;
    margin: 5%;
    color: white;
}

.next1 {
    position: absolute;
    left: 88%;
    top: 45%;
    width: 12%;
    z-index: 999;
    animation: pes 2.5s infinite;
    animation-play-state: playing;
    transition: 0.2s;
}

@keyframes pes {
    50% {
        transform: translateX(10px);
    }
}

.ne {
    position: absolute;
    left: 90%;
    top: 45%;
    z-index: 999;
    opacity: 90%;
}

.pre {
    position: absolute;
    right: 90%;
    top: 45%;
    opacity: 90%;
    z-index: 999;
}

.dec {
    position: absolute;
    left: 50%;
    top: 15%;
    z-index: 999;
}

.dec2 {
    position: absolute;
    width: 50%;
    margin-left: 24%;
    margin-top:5%;
    z-index: 999;
    animation-name: exa;
    animation-duration: 1s;
}

@keyframes exa{
    from{
        margin-top:-15%;
    }
    to{
        margin-top:5%;
    }
}

.imgage4bg h1 {
    font-weight: lighter;
    margin: 5%;
    color: rgb(28, 224, 37);
}

.imgage5bg h1 {
    font-weight: lighter;
    margin: 5%;
    color: black;
}

.ss {
    margin: -270px;
}

.imgBook {
    margin: 30px;
}

.boxtitle {
    width: 85%;
    height: 90%;
    margin: 3% 7%;
    left: 0%;
    position: absolute;
    z-index: 2;
}

.imgtitle {
    width: 100%;
    height: 100%;
    z-index: 2;
}

.err1 {
    left: 14%;
    bottom: 35%;
    position: absolute;
    z-index: 2;
    animation: ero 1s;
}

.err2 {
    left: 11%;
    bottom: 48%;
    position: absolute;
    z-index: 1;
    animation: ertw 2s;
}

.err3 {
    left: 67%;
    bottom: 55%;
    position: absolute;
    z-index: 2;
    animation: ert 1s;
}

.err4 {
    left: 70%;
    bottom: 42%;
    position: absolute;
    z-index: 1;
    animation: erf 2.5s;
}

@keyframes ero {
    from {
        opacity: 0.5;
    }
    to {
        opacity: 1;
    }
    from {
        width: 0%;
    }
    to {
        width: 17%;
    }
}

@keyframes ertw {
    from {
        opacity: 0.5;
    }
    to {
        opacity: 1;
    }
    from {
        width: 0%;
    }
    to {
        width: 14%;
    }
}

@keyframes ert {
    from {
        opacity: 0.8;
    }
    to {
        opacity: 1;
    }
    from {
        width: 0%;
    }
    to {
        width: 13%;
    }
}

@keyframes erf {
    from {
        opacity: 0.5;
    }
    to {
        opacity: 1;
    }
    from {
        width: 2%;
    }
    to {
        width: 15%;
    }
}

.bgpaper {
    width: 100%;
    height: 80%;
    margin: 17% 0%;
}

.bgContent {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.bgTime {
    background-color: greenyellow;
    width: 80%;
    height: 100%;
    margin: auto;
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.textContent1 {
    margin: auto;
    font-size: 22px;
    padding-left: 3%;
    padding-right: 2%;
    padding-top: 2%;
    text-align: left;
}

.textContent2 {
    margin: auto;
    font-size: 23px;
    padding-left: 3%;
    padding-right: 2%;
    padding-top: 2%;
    text-align: left;
}

.textContent3 {
    margin: auto;
    font-size: 23px;
    padding-left: 5%;
    padding-right: 6%;
    padding-top: 2%;
    text-align: left;
}

.textContent4 {
    margin: auto;
    font-size: 23px;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    text-align: left;
}

.textContent5 {
    margin: auto;
    font-size: 23px;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    text-align: left;
}

.bginput {
    background-color: pink;
    width: 60%;
    height: 80%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.Boxtest {
    cursor: pointer;
    width: 40%;
    height: 30%;
    position: absolute;
    bottom: 0%;
    left: -35%;
    background-color: aquamarine;
}

.box1 {
    width: 90%;
    height: 10%;
    position: absolute;
    margin: 5%;
    bottom: 65%;
}

.box2 {
    width: 90%;
    height: 10%;
    position: absolute;
    margin: 5%;
    bottom: 50%;
}

.box3 {
    width: 90%;
    height: 10%;
    position: absolute;
    margin: 5%;
    bottom: 35%;
}

.box4 {
    width: 90%;
    height: 10%;
    position: absolute;
    margin: 5%;
    bottom: 20%;
}

.box5 {
    width: 90%;
    height: 10%;
    position: absolute;
    margin: 5%;
    bottom: 5%;
}

#age1scoll {
    color: white;
    background-color: rgba(0, 0, 0, 0.4);
    width: 70%;
    height: 60%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    overflow-y: visible;
    border-radius: 30px;
    display: none;
    z-index: -1;
    font-family: 'mitrregular', 'sans-serif';
    font-size: 18px;
}

#age2scoll {
    color: white;
    background-color: rgba(0, 0, 0, 0.4);
    width: 70%;
    height: 60%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    overflow-y: visible;
    border-radius: 30px;
    display: none;
    z-index: -1;
    font-family: 'mitrregular', 'sans-serif';
}

.imgage3bg {
    color: white;
    font-family: 'rd_chulajaruekregular', 'sans-serif';
    background-color: black;
    width: 40%;
    height: 50%;
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    overflow-y: visible;
}

.imgage4bg {
    color: rgb(28, 224, 37);
    background-color: black;
    font-family: 'rd_chulajaruekregular', 'sans-serif';
    width: 40%;
    height: 60%;
    display: block;
    position: absolute;
    left: 51%;
    top: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    overflow-y: visible;
}

.imgage5bg {
    color: black;
    background-color: white;
    width: 60%;
    height: 70%;
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
}

.imgage3 {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
}

.bgContent1 {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.butgen1 {
    position: absolute;
    text-align: center;
    display: inline-block;
    top: 50%;
    left: 48%;
    cursor: pointer;
}

.butgen1:hover {
    cursor: pointer;
}

.butgen2 {
    right: 22%;
    bottom: 53%;
    position: absolute;
}

.butgen2:hover {
    cursor: pointer;
}

.butgen3 {
    right: 18%;
    bottom: 24%;
    position: absolute;
}

.butgen3:hover {
    cursor: pointer;
}

.butgen4 {
    width: 5%;
    height: 5%;
    right: 29.3%;
    bottom: 16.5%;
    position: absolute;
}

.butgen4:hover {
    cursor: pointer;
}

.butgen5 {
    left: 13%;
    bottom: 13%;
    position: absolute;
}

.butgen5:hover {
    cursor: pointer;
}

.clickicon {
    width: 5%;
    height: 5%;
    right: 29%;
    bottom: 8%;
    position: absolute;
}

.boxgen5 {
    width: 7%;
    height: 8%;
    left: 12%;
    bottom: 13%;
    position: absolute;
}

.boxgen5:hover {
    cursor: pointer;
}

.backmac {
    background-color: rgb(145, 145, 145);
    width: 20%;
    height: 30%;
    position: absolute;
    left: 90%;
    bottom: 8%;
    border-radius: 30px;
    display: none;
}

.bgnn {
    width: 80%;
    height: 100%;
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.imgbox {
    height: 100%;
    left: 23%;
    top: 45%;
    position: absolute;
}

.txtbox {
    font-size: 28px;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.txtposiimg {
    font-size: 28px;
    left: 30%;
    top: 5%;
    position: absolute;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

#text5 {
    font-family: 'mitrregular', 'sans-serif';
}

.ScollDown {
    right: 19%;
    bottom: 47%;
    position: absolute;
}

.ScollDown:hover {
    cursor: pointer;
}

.ScollTop {
    right: 19%;
    bottom: 57%;
    position: absolute;
}

.ScollTop:hover {
    cursor: pointer;
}

.ScollDown2 {
    right: 16%;
    bottom: 47%;
    position: absolute;
}

.ScollDown2:hover {
    cursor: pointer;
}

.ScollTop2 {
    right: 16%;
    bottom: 57%;
    position: absolute;
}

.ScollTop2:hover {
    cursor: pointer;
}

#age1 {
    position: absolute;
    text-align: center;
    display: inline-block;
    top: 4%;
    left: 44%;
    cursor: pointer;
}

#age1skip {
    position: absolute;
    text-align: center;
    display: inline-block;
    top: 4%;
    right: 44%;
    cursor: pointer;
    visibility: hidden;
}

#age2skip {
    position: absolute;
    text-align: center;
    display: inline-block;
    top: 4%;
    right: 44%;
    cursor: pointer;
    visibility: hidden;
}

#age3skip {
    position: absolute;
    text-align: center;
    display: inline-block;
    top: 4%;
    right: 44%;
    cursor: pointer;
    visibility: hidden;
}

#age4skip {
    position: absolute;
    text-align: center;
    display: inline-block;
    top: 4%;
    right: 44%;
    cursor: pointer;
    visibility: hidden;
}

#age5skip {
    position: absolute;
    text-align: center;
    display: inline-block;
    top: 4%;
    right: 44%;
    cursor: pointer;
    visibility: hidden;
}

#age2 {
    position: absolute;
    text-align: center;
    display: inline-block;
    top: 4%;
    left: 44%;
    cursor: pointer;
}

#age3 {
    position: absolute;
    text-align: center;
    display: inline-block;
    top: 4%;
    left: 44%;
    cursor: pointer;
}

#age4 {
    position: absolute;
    text-align: center;
    display: inline-block;
    top: 4%;
    left: 44%;
    cursor: pointer;
}

#age5 {
    position: absolute;
    text-align: center;
    display: inline-block;
    top: 4%;
    left: 44%;
    cursor: pointer;
}

#butcal {
    z-index: -1;
}

.timeText {
    font-family: 'mitrregular', 'sans-serif';
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */

::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.ScollDown5 {
    width: 5%;
    height: 9%;
    right: 5%;
    bottom: 50%;
    position: absolute;
}

.ScollDown5:hover {
    cursor: pointer;
}

.ScollTop5 {
    width: 5%;
    height: 9%;
    right: 5%;
    bottom: 60%;
    position: absolute;
}

.ScollTop5:hover {
    cursor: pointer;
}

#start11 {
    position: absolute;
    top: 0%;
    left: 38%;
}

#start22 {
    position: absolute;
    top: 0%;
    left: 37%;
}

#start33 {
    position: absolute;
    top: 0%;
    left: 37%;
}

#start44 {
    position: absolute;
    top: 0%;
    left: 37%;
}

#start55 {
    position: absolute;
    top: 0%;
    left: 37%;
}

.loadBackground {
    z-index: 9999;
}

.preloaderCont {
    z-index: 10000;
}

.butText {
    margin-left: 6%;
    margin-top: -10%;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    font-size: 20px;
    text-align: left;
    font-family: 'mitrregular';
    position: absolute;
}

.popover__title {
    font-size: 24px;
    line-height: 36px;
    text-decoration: none;
    color: rgb(228, 68, 68);
    text-align: center;
    padding: 15px 0;
}

.popover__wrapper {
    position: relative;
    margin-top: 1.5%;
    margin-left: 75%;
    display: inline-block;
}

.popover__content {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    left: 0px;
    transform: translate(0, 10px);
    background-color: #bfbfbf;
    padding: 2rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    width: auto;
    border-radius: 20px;
}

.popover__content:before {
    position: absolute;
    z-index: -1;
    content: "";
    right: calc(50% - 10px);
    top: -8px;
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent #bfbfbf transparent;
    transition-duration: 0.3s;
    transition-property: transform;
}

.popover__wrapper:hover .popover__content {
    z-index: 10;
    opacity: 1;
    visibility: visible;
    transform: translate(0, -20px);
    transition: all 0.5s cubic-bezier(0.75, -0.02, 0.2, 0.97);
}

.popover__message {
    text-align: center;
}

#summ{

}

#age6coll{
    display: none;
}

#textContent6{
    width: 40%;
    z-index: 1;
    position: absolute;
    background-color: #dc2222;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
#summaryh2{
    width: 40%;
    position: absolute;
    background-color: #dc2222;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}