* {
	padding: 0;
	margin: 0;
	border: 0;
}

.fillParent {
	width: 100%;
	height: 100%
}

/* Футер */

a {
	color: #dc2222;
}

#footer{
	
	position: fixed;
	z-index: 2;
	width: 100%;
	height:77px;
	text-align: center;
	font-size:10px;
/* Хак */
	text-align: right;
	bottom: -15px;
	color: gray;
	
	right: 0px;
	padding-right: 60px;
	box-sizing: border-box;
}

/* */

#layouts .portrait.story {
	width: 300px;
}

#layouts .portrait .padded {
	padding: 200px 30px;
}

#layouts .portrait .landscapeOnly {
	display: none;
}
#layouts .portraitOnly,
#layouts .landscapeOnly {
	margin-top: 20px;
}

#layouts .landscape .portraitOnly {
	display: none;
}

/* */

body {
	font-family: Helvetica, sans-serif;
	background: black;
}

.popularResolution {
	width: 1366px;
	height:768px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -683px;
	margin-top: -384px;
	
}

#footer {
	font-size: 20px;
}
.story {
	text-align: center;
	width: 600px;
	background: rgba(238, 234, 234, 0.88);
	font-size: 20px;
	position: relative;
}
.story>.padded {
	padding: 30px;
}
.story p+p {
	margin-top: 10px;
}



.fastLayer {
	position:absolute;

}
.fastLayer > * {
	position:absolute;
	left: 0px;
	top: 0px;
	
}

#scaling .padded {
	padding: 40% 20%;
}

.story .hint {
	display: block;
	color: gray;
	font-style: italic;
	font-size: 70%;
}

.head{
	font-size: 72px;
	text-align: center;
	color:white;
	margin-top: 1%;
	
}
#text999{
	margin-top: -30%;
}
#text888{
	margin-top: 3%;
}

#flipbook{
	display: inline-block;
	vertical-align: middle;
	
}

#flipbook .page{
    width:400px;
    height:300px;
    background-color:white;
    line-height:300px;
    font-size:20px;
    text-align:center;
}

#flipbook .page-wrapper{
    -webkit-perspective:2000px;
    -moz-perspective:2000px;
    -ms-perspective:2000px;
    -o-perspective:2000px;
	perspective:2000px;
}

#flipbook .hard{
    background:#ccc !important;
    color:#333;
    -webkit-box-shadow:inset 0 0 5px #666;
    -moz-box-shadow:inset 0 0 5px #666;
    -o-box-shadow:inset 0 0 5px #666;
    -ms-box-shadow:inset 0 0 5px #666;
    box-shadow:inset 0 0 5px #666;
    font-weight:bold;
}

#flipbook .odd{
    background:-webkit-gradient(linear, right top, left top, color-stop(0.95, #FFF), color-stop(1, #DADADA));
    background-image:-webkit-linear-gradient(right, #FFF 95%, #C4C4C4 100%);
    background-image:-moz-linear-gradient(right, #FFF 95%, #C4C4C4 100%);
    background-image:-ms-linear-gradient(right, #FFF 95%, #C4C4C4 100%);
    background-image:-o-linear-gradient(right, #FFF 95%, #C4C4C4 100%);
    background-image:linear-gradient(right, #FFF 95%, #C4C4C4 100%);
    -webkit-box-shadow:inset 0 0 5px #666;
    -moz-box-shadow:inset 0 0 5px #666;
    -o-box-shadow:inset 0 0 5px #666;
    -ms-box-shadow:inset 0 0 5px #666;
    box-shadow:inset 0 0 5px #666;
    
}

#flipbook .even{
    background:-webkit-gradient(linear, left top, right top, color-stop(0.95, #fff), color-stop(1, #dadada));
    background-image:-webkit-linear-gradient(left, #fff 95%, #dadada 100%);
    background-image:-moz-linear-gradient(left, #fff 95%, #dadada 100%);
    background-image:-ms-linear-gradient(left, #fff 95%, #dadada 100%);
    background-image:-o-linear-gradient(left, #fff 95%, #dadada 100%);
    background-image:linear-gradient(left, #fff 95%, #dadada 100%);
    -webkit-box-shadow:inset 0 0 5px #666;
    -moz-box-shadow:inset 0 0 5px #666;
    -o-box-shadow:inset 0 0 5px #666;
    -ms-box-shadow:inset 0 0 5px #666;
	box-shadow:inset 0 0 5px #666;
}